<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munshig.shaw.munshig_business">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AppUtilities.Global.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mehboob.Activities.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mehboob.Activities.MainActivity" />
        <activity android:name=".Mehboob.Activities.Profile" />
        <activity android:name=".Mehboob.Activities.KiranaDetails" />
        <activity android:name=".Mehboob.Activities.AddBarcode" />
        <activity
            android:name=".Mehboob.Activities.KiranaList"
            android:label="@string/title_activity_kirana_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Mehboob.Activities.AddKirana" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Mehboob.Activities.SpeechList"
            android:label="@string/title_activity_speech_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".Mehboob.Activities.SpeechCards" />
        <activity android:name=".BDTeam.Activities.KiranaBD" />
        <activity android:name=".BDTeam.Activities.MehboobBD"></activity>
    </application>

</manifest>